@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.slide-wrap,{
    position: relative;
}

.arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0,0,0,.2);
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev{
    left: 40px;
}
.next{
    right: 40px;
}

.slick-dots{
    /* display: flex; */
    position: absolute;
    left: 3%;
    transform: translateX(-50%);
    top: 3%;
}

.slick-dots li button{
    display: none;
}

.slick-dots li{
    width: 5px;
    height: 24px;
    /* border-radius: 12px; */
    background: #ccc;
    margin: 10px;
    cursor: pointer;
    transition: .3s;
}

/* 변경사항 */
.slick-dots li:nth-child(1):after{
    content: "01";
    padding-left: 20px;
    color: #ccc;
}
.slick-dots li:nth-child(2):after{
    content: "02";
    padding-left: 20px;
    color: #ccc;
}
.slick-dots li:nth-child(3):after{
    content: "03";
    padding-left: 20px;
     color: #ccc;
}
.slick-dots li:nth-child(4):after{
    content: "04";
    padding-left: 20px;
     color: #ccc;
}
.slick-dots li:nth-child(5):after{
    content: "05";
    padding-left: 20px;
     color: #ccc;
}
.slick-dots li:nth-child(6):after{
    content: "06";
    padding-left: 20px;
     color: #ccc;
}

.slick-dots li.slick-active:after{
    line-height: 60px;
    font-size: 2rem;
    color: #333;
    font-family: 'Anton', sans-serif;
    padding-left: 30px;
}
/* 변경 끝 */


.slick-dots li.slick-active{
    background: #333;
    height: 60px;
}


.slide a{
    height: 400px;
}

.title1{
    position: relative;
    transform: translate(7%,-200%);
}
.title2{
    position: relative;
    transform: translate(7%,-235%);
}

/* 반응형 */